{% extends 'base.html' %}

{% block content %}

    <div class="container ">
            <div class="row mt-4">
                <table class="table table-dark">
                    <caption>Informações da sala</caption>
                    <thead>
                    <tr>
                        <th scope="col"> Nome da sala</th>
                        <th scope="col"> Valor mínimo</th>
                        <th scope="col"> Valor máximo</th>
                        <th scope="col"> Link para cadastro</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ object.name }} </td>
                        <td>{{ object.min_value }}</td>
                        <td>{{ object.max_value }}</td>
                        <td><a href="{% url 'criar-participante' object.link %}">{{ link_short }}</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="row mt-4">
                <table class="table table-hover table-dark table-striped">
                    <caption>Lista de participantes</caption>
                    <thead>
                    <tr>
                        <th scope="col"> ID</th>
                        <th scope="col"> Nome</th>
                        <th scope="col"> Email</th>
                        <th scope="col"> Categoria</th>
                        <th scope="col"> Observação</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant in object.participant.all %}
                        <tr>
                            <td>{{ participant.id }}</td>
                            <td>{{ participant.name }}</td>
                            <td>{{ participant.email }}</td>
                            <td>{{ participant.category }}</td>
                            <td>{{ participant.obs }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% if  raffle_participants %}
                <div class="row mt-4">
                    <table class="table table-hover table-dark table-striped">
                        <caption>Resultado</caption>
                        <thead>
                        <tr>
                            <th scope="col"> Nome</th>
                            <th scope="col"> Tirou</th>
                            <th scope="col"> Categoria</th>
                            <th scope="col"> Observação</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for raffle_participant in raffle_participants %}
                            <tr>
                                <td>{{ raffle_participant.participant }}</td>
                                <td>{{ raffle_participant.selected_participant }}</td>
                                <td>{{ raffle_participant.selected_participant.category }}</td>
                                <td>{{ raffle_participant.selected_participant.obs }}</td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            {% else %}
                <div class="text-center mt-4">
                    <form action="{% url 'fazer-sorteio' %}" method="post">
                        {% csrf_token %}
                        <input name="room_id" value="{{ room.room_id }}" hidden>
                        <button type="submit" class="btn btn-lg btn-info" id="sortear">Sortear</button>
                    </form>
                </div>
            {% endif %}
        </div>

{% endblock %}
