{% extends 'base.html' %}

{% block content %}

  <div class="align-self-center">
    <form method="post">
    {% csrf_token %}
      <div class="row">
        <div class="col-lg-12">
          <label for="id_name">Crie um nome para sua sala: </label>
          <input type="text" class="form-control" name="name" aria-describedby="" placeholder="Digite o nome da sala" value="{{form.name.value}}" />
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-lg-6">
          <label for="id_min_value">Digite o valor mínimo</label>
          <input type="number" class="form-control" name="min_value" placeholder="R$" value="{{form.min_value.value}}" />
        </div>
        <div class="col-lg-6">
          <label for="id_max_value">Digite o valor máximo</label>
          <input type="number" class="form-control" name="max_value" placeholder="R$" value="{{form.max_value.value}}" />
        </div>
      </div>
      <div class="text-center mt-4" >
        <button type="submit" class="btn btn-lg btn-warning">Atualizar</button>
      </div>
    </form>
  </div>
  
{% endblock %}
